*{
    box-sizing:border-box;
    margin:0;
    outline:none;
    text-decoration:none;
  }
  a{
    color:rgba(0,0,0,0.5);
  }
  .back{
      /* display: flex; */
      float: left;
      color: #fff;
      margin-right: 1rem;
  }
  body{
    width:100%;
    background:#fff;
    
  }
  .container{
    max-width:1240px;
    margin:0 auto;
    display:flex;
    gap:2rem;
  }
  .container{
    padding:10px;
  }
  .news_page-content{
    flex:4;
    padding:1rem;
  }
  .writer-section{
    margin:1rem 0;
    display:flex;
    justify-content:flex-start;
    align-items:center;
  }
  .news_page-content .news__main-image img{
    object-fit:cover;
    width: calc(100% - 20px);
  }
  .news_page-content .writer-profile{
    border-radius:50%;
    width: 70px;
    height:70px;
    padding:0;
    
  }
  .news_page-content .writer-profile img{
    object-fit:cover;
    width: 70px;
    height:70px;
    padding:0;
    border-radius:50%;
  }
  .writer-info{
    display:flex;
    margin-left:1rem;
    flex-direction:column;
    justify-content:flex-end;
    align-items:space-around;
  }
  .writer-info .name{
    font-size:1.2rem;
    font-weight:bold;
  }
  .writer-info .published-date{
    font-size:12px;
    font-weight:normal;
    text-align:left;
    
  }
  
  .article-heading{
    font-size:clamp(1rem, 2.5vw, 2rem);
    padding:10px 0;
  }
  article{
    color:#323232;
    letter-spacing:.5px;
    text-align: justify;
    text-justify: inter-word;
    margin-bottom: 2em;
  }
  .news_page-content{
    padding:1rem;
  }
  
  .ads-container{
      display: flex;
      justify-content: flex-start;
      gap: 1rem;
      margin: 2rem 0;
  }
  
  .tags{
    margin-bottom:1rem;
    display:flex;
    align-items:center;
    text-transform:capitalize;
  }
  .tags .tag_link:not(:first-of-type){
    margin-left:1.2rem;
  }
  
  
  .trending_news-cards{
    flex:1.6;
  }
  .news_card{
    margin-bottom:1.5rem;
    width: calc(100% - 20px);
    font-family:Montserrat;
    border:2px solid rgba(0,0,0,0.5);
    padding:10px;
    border-radius:10px;
    position:relative;
  }
  .news_card .title{
    color:#15EF86;
    font-size: 1.4rem;
  }
  .news_card a{
    margin:20px 10px;
    color:#000;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 29px;
    transition: all 0.3s ease-in;
  }
  a:hover{
    text-decoration:underline;
  }
  .news_card-actions{
    display:flex;
    justify-content:space-between;
    align-items:flex-end;
  }
  .published-date{
    font-size:10px;
  }
  .btn-more{
    background:#EFDCDC;
    display:inline-block;
    padding:5px 10px;
    border-radius:4px;
    cursor:pointer;
    transition:background 0.3s ease-in;
  }
  .btn-more:hover{
    background:#E88D8D;
  }
  
  @media screen and (max-width:820px){
    .container{
      flex-direction:column;
    }
    .trending_news-cards{
      display:grid;
      grid-template-columns:repeat(auto-fit, minmax(300px, auto));
    }
    
    .tags{
      overflow-x:auto;
    }
    .tags::-webkit-scrollbar{
      display:none;
    }
  }