*{
    padding: 0;
    margin: 0;
    outline: none;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255,255,255,0.8);
    font-family: "Sansita", sans-serif;
}
.container{
    max-width: 400px;
    height: 500px;
    width: 95%;
    border: 2px solid rgba(0,0,0,0.6);
    padding:1em;

    form{
        display: flex;
        flex-direction: column;

        .login-heading{
            margin: 1.4rem 0;
            text-align: center;
            h1{
                color: rgba(0, 0, 0, 0.9);
                text-align: center;
                padding: 10px 0;
            }
        }
        .form-control{
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-start;
            margin: 0.6rem 0;
            font-size: 1.2rem;
            position: relative;
            
            label{
                margin-bottom: 5px;
                text-transform: uppercase;
            }
            input{
                padding: 1.2rem 0.6rem;
                width: 100%;
                border: 2px solid rgba(0,0,0,0.6);
                outline: none;
                background: transparent;
                color: rgba(0,0,0,0.6);
                border-radius: 5px;

            }
            input.error{
                border-color: red;
            }
            input.success{
                border-color: green;
            }
            small{
                visibility: hidden;
            }
            small.error{
                visibility: visible;
                color: red;
                margin: 5px 0;
                font-size: 12px;
            }

            button{
                display: block;
                width: 100%;
                margin: 0.8rem 0;
                padding: .8rem 0;
                background: linear-gradient(#6377f3,#7053d6);
                border: none;
                color: #fff;
                text-align: center;
                border-radius: 5px;
            }
            button:active ,
            button:focus{
                background: linear-gradient(#4f62e2,#6241da);;
            }
        }
    }
}