*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body{
    max-width: 100%;
    margin:auto;
    border-left: 1px solid rgba(0,0,0,0.2);
    border-right: 1px solid rgba(0,0,0,0.2);
    position: relative;
    font-family: 'Times New Roman', Times, serif;
    scroll-behavior: smooth;
    box-shadow: 0px 10px 10px rgba(241, 239, 239, 0.2);
    min-width: 340px;
}
section{
    max-width: 1240px;
    margin: 0 auto;
}
a{
    color: inherit;
}



/*
Subscribe Section
*/
.subscribe-wrapper{
    position:fixed;
    width:100%;
    height:100%;
    top:0;
    left:0;
    right:0;
    bottom:0;
    display:none;
    justify-content:center;
    align-items:center;
    background:rgba(0,0,0,0.8);
    z-index: 999;
    .subscribe_container{
        width:340px;
        border-radius: 10px;
        background:#fff;
        padding:1rem;
        position:relative;
        animation: fade 0.3s ease-in forwards;
        text-align: center;
        font-family: 'Sansita Swashed', cursive;

        .subscribe__image{
            max-width: 220px;
            width: 100%;
            margin: 1rem auto;
            overflow: hidden;

            img{
                display: flex;
                object-fit: cover;
                height: 80px;
                margin: 0 auto;
            }
        }
    }
    .cross{
        position:absolute;
        top:0;
        right:10px;
        font-size:2em;
        transform:rotate(45deg);
        cursor:pointer;
      }
    
      .subscribe_button{
          border: 1px solid #111318;
          padding: 0.4rem 1.5rem;
          text-align:center;
          border-radius: 8px;
      }
      .subscribe_btn-link{
          background:rgb(56, 216, 56);
          color:#111318;
          text-transform: uppercase;
          margin: 15px auto;
          display: block;
      }
      @keyframes fade {
          from{
              transform: scale(0);
          }
          to{
              transform: scale(1.2);
          }
      }
}

// Contact-us : Pop - up window 
.contact_us-popup_wrapper{
    position:fixed;
    width:100%;
    height:100%;
    top:0;
    left:0;
    right:0;
    bottom:0;
    display:none;
    justify-content:center;
    align-items:center;
    background:rgba(0,0,0,0.8);
    z-index: 999;

    .contact-us{
        width:40%;
        border-radius: 10px;
        background: #12c2e9;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #f64f59, #c471ed, #12c2e9);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #f64f59, #c471ed, #12c2e9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        padding:1rem;
        position:relative;
        animation: fade 0.3s ease-in forwards;
        text-align: center;
        font-family: 'Sansita Swashed', cursive;

        h3{
            color: #fff;
            margin: 1em auto;
        }
        form{
            position: relative;
            width: 100%;
        }
        .form-container .form-group{
            margin-bottom: 0.5rem;
            display: flex;
            align-items:center;
            justify-content: space-between;
            // margin-left: 50%;
            input{
                padding: 0.4rem 1rem;
                outline: none;
            }
            label{
                margin-right: 2em;
            }
            textarea{
                width: 40%;
                outline: none;
                padding: 0.4rem 1rem;
            }

            @media screen and (max-width:820px){
                flex-direction: column;
                align-items: flex-start;
                
                input, textarea{
                    width: 100%;
                }
                label{
                    margin-bottom: 1rem;
                }
            }
        }
        .form-submit{

            padding: 0.5rem 4rem;
            outline: none;
            border: none;
            color: #999;
            background-color: rgba(17,17,17,1);
            border-radius: 0.4rem;
            // float: right ;
            margin-right: 0;
            &:hover{
                background: #000;
            }
        }
    }
    @media screen and (max-width:820px){
        .contact-us{
            width: 65%;
        }
    }
    .cross{
        position:absolute;
        top:0;
        right:10px;
        font-size:2em;
        transform:rotate(45deg);
        cursor:pointer;
      }
}




.header{
    min-height:20vh;
    overflow: hidden;
    position: relative;
    background-image: url('../src/background.jpg');
    .header-video{
        position: absolute;
        top: 0;
        left: 0;
        min-width: 100%;
    }
}

nav{
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    padding-right: 1rem;
}
.navbar ul{
    list-style: none;
    display: flex;
    font-size: 14px;
}
.nav-links{
    margin-left: auto;  
    
    @media screen and (max-width:620px){
        li{
            display: none;
        }
    }
}
.navbar {
    .days{
        li i{
            font-size: 24px;
        }
        li{
            border-right: 1px solid rgba(255,255,255,0.4);
        }
    }
    ul li{
        color: #fff;
        padding: 0.2rem .85rem;
        cursor: pointer;
        border-right: 2px solid white;
        transition: color 0.3s ease;
        text-align: center;
    }
    ul li:hover{
        color:#7FA3B2;
    }
    ul li.active{
        border-bottom: 2px solid #DBE2E9;
        padding-bottom: 5px;
    }
}

//Section company info
.news__header-home{
    background-color: #3bbbe2;
    min-height: 20vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: space-between;
    padding: 0.2rem .2rem;
    align-items: space-between;
    // border-bottom: 2px solid #000;
    .news__header-top{
        display: flex;
        justify-content: space-between;
        
        .news__header-searchbar{
            display: flex;
            min-width: 100px;
            justify-content: space-between;
            align-items: center;
            // border: 1px solid rgba(0,0,0,0.4);
            
            input.search{
                outline: none;
                padding: 0.4rem 1rem;
                background: rgba(0,0,0,0.18);
                // background: transparent;
                border: 1px solid rgba(255,255,255,0.8);
            }
            .fa-search{
                margin-left: 10px;
            }
        }
        .news__header-language{

            #language{
                display:none;
                border: none;
                padding: 5px 14px;
            }
        }
        .language_link{
            padding-right: 0.5rem;
            border-right: 1px solid #000;
        }
        .language_link:hover{
            color: #111319;
        }
    }
    .news__logo{
        font-size: 4em;
        font-family: 'Sansita Swashed', cursive;
        text-align: center;
        cursor: pointer;
    }
    .news__header-bottom{
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        .btn{
            background: #97d4d1;
            padding: 0.25rem .5rem;
            cursor: pointer;
        }
        .current_date{
            color: #f2f2f2;
        }
    }
}

@media screen and ( max-width:720px ){
    .news__header-language{
        .big-screeb-links{
            display: none;
        }
        #language{
            display:block !important;
        }
    }
}

// PIN - POSTS
section.news__pinposts{
    border-bottom: 1px solid #2a2929;

    .news__post-links{
        display: flex;
        justify-content: space-evenly;
        border-bottom: 1px solid #2a2929;
        
        li{
            padding: 1rem 0.5rem;
            flex: 1;
            text-align: center;
            margin:0 1px;
            transition: all 0.3s ease-in;
        }
        li:hover{
            background-color: rgba(0,0,0,0.2);
            color: #fff;

        }
        li::first-of-type,
        li::last-of-type{
            margin: 0;
        }
    }
    .news__pin-posts_scrollar{
        max-width: 100%;
        height: 200px;        
        display: flex;
        overflow-x: scroll;
        position: relative;
        .pin_post{
            display: inline-block;
            min-width: 200px;
            margin: 5px;
            color: #fff;
            border-right: 1px solid #000;
            background-image: url('../src/news_img1.jpg') ;
            background-size: cover;
            background-position: center;
            display: flex;
            justify-content: start;
            align-items: flex-end;
            
            .news_text-content{
                width: 100%;
                padding: 10px;
                background-color: rgba(0,0,0,0.5);

                small{
                    font-size: 10px;
                }
            }
        }
    }
    .news__pin-posts_scrollar::-webkit-scrollbar{
        display: none;
    }

}


// Home Mian Content
.news__home_main{
    padding: 2em;
    height: 100%;
    background: rgba(255,255,255,0.4);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 5em;
    
    grid-template-areas:
        "main-tranding main-tranding ad1"
        "main-tranding main-tranding ad2"
        "latest popular tranding"
    ;

    

    .news__home_main-tranding{
        grid-area: main-tranding;
        min-height: 400px;
        // padding: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-start;
        position: relative;


        .fas{
            position: absolute;
            top: 50%;
            // transform: translateY(-50%);
            margin: 1rem;
            font-size: 2em;
            color: #000;
            cursor: pointer;
        }
        .fa-chevron-left{
            left: 0;
        }
        .fa-chevron-right{
            right: 0;
        }
        .bg-image{
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: url('../src/news_img1.jpg');
            overflow: hidden;
            z-index: -1;
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            filter: opacity(1);
        }
        .news-content{
            width: 100%;
            padding: 10px;
            background-color: rgba(0,0,0,0.5);
            
            h3{
                width: 80%;
                overflow: hidden;
                text-overflow: ellipsis;
                font-family: 'Open Sans',sans-serif;
                margin: 13px 0 10px 0;
                color: #FFFFFF;
                font-size: 24px;
                font-weight: 300;
            }
            small{
                font-size: 10px;
            }
        }
    }
    .ad-container{
        grid-area: ad1;
        display: flex;
        flex-direction: column;
        justify-content: center;   
    }
    
    

    .ad-container{
        grid-area: ad2;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    .news__home_main-latest-news{
        grid-area: latest;
        
        
    }
    .news__home_main-popular-news{
        grid-area: popular;
        
    }
    .news__home_main-tranding-news{
        grid-area: tranding;
        
    }
    img{
        object-fit: contain;
        width: 140px;
        padding: 1rem;
    }
    .news__card{
        display: flex;
        overflow: hidden;
        justify-content: start;
        align-items: center;
        background: rgba(0,0,0,0.2);
        margin-bottom: 1rem;
        cursor: pointer;
        padding-right: 1rem;
        transition: background-color 0.2s ease-out;
         
        &:hover{
            background-color: rgba(0,0,0,0.5);
        }
    }
    
    .more-btn{
        padding: 0.3rem 1.5rem;
        outline: none;
        border: none;
        border-radius: 0.4rem;
        justify-self: center;
        float: right;
        color: #fff;
        background-color: #333131;
        transition: background-color 0.2s ease-in;

        &:hover{
            background-color: #161616;
        }
    }
}
@media screen and (max-width: 920px) {
    .news__home_main{
        width: 100%;
        grid-template-columns: 1fr 1fr;
        grid-gap: 1rem;
        grid-template-areas:
            "main-tranding  ad1"
            "popular  ad2"
            "latest tranding"
        ;
    }
}
@media screen and (max-width: 740px) {
    .news__home_main{
        width: 100%;
        grid-template-columns: 1fr;
        grid-template-areas:
            "main-tranding"
            "ad1"
            "ad2"
            "popular"
            "latest"
            "tranding";

            .form-container .form-group{
                width: 100%;
                margin-bottom: 0.5rem;
                display: flex;
                align-items:center;
                justify-content: space-between;
                label{
                    margin-right: 50px;
                }
            }
    }
}
@media screen and (max-width: 620px) {
    .news__home_main{
        #tranding-news{

            .bg-image{
                // transform: scale(0.9);
                background-size: cover;
            }

            .news-content h3{
                font-size: 14px;
                width: 100%;
            }
        }

        .latest-newses,.popular-newses,.latest-newses{
            max-width: 100vw;
            overflow: hidden;
        }
    }

    .news__post-links{
        padding: 0 10px;
        overflow-x: scroll;
    }
    .news__post-links::-webkit-scrollbar{
        display: none;
    }

    .news__home_main .form-container .form-group{
        justify-content: space-between;
    }
}

.space{
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    color: #222;
    letter-spacing: 1.5px;
    font-family: 'Sansita Swashed', cursive;
    border-bottom: 1px solid #000;
    margin: 0 2rem 2rem 2rem;
}

.news_links{
    width: 100%;
    padding: 1rem 0;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(360px,auto));

    .news_category{
        display: flex;
        flex-direction: column;
        padding: 1rem;
        margin:10px;
        
        .title{
            display: flex;
            justify-content: flex-start;
            align-items: center;
            font-size: 1.2rem;
            font-weight: 800;
            border-bottom: 1px solid #111319;
            // border-bottom-right-radius: 5px;
            .fas{
                margin-bottom: 10px;
                margin-right: 10px;
                color: #1dbdee;
            }
        }
        li{
            margin-bottom: 10px;
            padding: 0.5rem 0;
            border-bottom: 1px solid rgba(0,0,0,0.2);
            a{
                color: #111319;
                // margin-left: 1rem;
                line-height: 1.4rem;
                font-size: 18px;
                font-style: italic;
                text-transform: capitalize;

                &:hover{
                    text-decoration: underline;
                }
                .fas{
                    margin-right: 10px;
                    display: none;
                }
            }
        }
    }
}

//NewsList Items 

.innerNewsList{
    padding: 1rem;
    margin-bottom: 2em;
    display: flex;
    column-gap: 2rem;
    .news__inner-item{
        display: flex;
        // justify-items: center;
        padding: 1rem;
        border-bottom: 1px solid rgba(0,0,0,0.2);
        gap: 1rem;
        .inner_news-img{
            object-fit: cover;
            width: 140px;
        }
        .inner_news-content{
            // padding: 1rem 2rem;
            // padding-right: 2rem;
            .heading{
                font-size: 2rem;
                font-weight: 800;
                color: #111319; 
            }
            small{
                font-size: 10px;
                margin-bottom: 5px;
            }
            .description{
                font-size: 0.8rem;
                color: rgba(0,0,0,.6);
            }
        }
    }
}

@media screen and (max-width : 740px) {
    .innerNewsList{
        flex-wrap: wrap;
        flex-direction: column;
    }
}

/* Footer Content */
footer{
    background: #09394f;
    border-top: 8px solid #222;
}
.our-story-card{
    position: relative;
    border-bottom: 8px solid #222;
    padding: 50px 5%;
    margin-bottom: 0;
    background: transparent;
    color: white;
}
.footer-card {
    // max-width: 90%;
    margin: 0 auto;
}

.site-footer-wrapper{
    margin-top: 0;
    min-width: 190px;
    width: 100%;
    // padding-bottom: 20px;
    font-size: 1em;
    color: #757575;
    position: relative;
}
.footer-divider{
    height: 0;
    width: 100%;
    border-top: 1px solid #292323;
}
.site-footer{
    margin-top: 0 auto;
    padding-top: 30px;
    width: 90%;
    display: block;
}
.site-footer p{
    display: block;
    height: 60px;
    font-size: 1.2rem;
    color: #fff;
}
.site-footer a{
    color: #fff;
    text-decoration: none;
}
.footer-links{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px,auto));
    grid-auto-rows: auto;
    grid-column-gap: 1rem;
    color: #fff;
    list-style: none;
}
.footer-country{
    padding: 1rem 2rem;
}
.footer-links>li{
    padding-top: 1rem;
    text-align: left;
    padding-left: 2rem;
}


.footer-text{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content:flex-end;
    align-items: center;
    text-align: center;
    /* margin: 1rem auto; */
}
@media (max-width:780px) {
    .footer-links{
        grid-template-columns: repeat(2,1fr);
    }
}




//Adds Manager
